datetime
pyautogui
pyttsx3
speechrecognition
psutil
wikipedia
requests
beautifulsoup4
torch
transformers
googlesearch-python
numpy
sentence-transformers
scikit-learn
groq
python-dotenv
pyaudio